.amenity-edition {
   width: 60%;
   margin: 4rem auto;

   .amenity-edition__form {
      background-color: rgb(235, 235, 235);
      padding: 2rem;
      border: 1px solid black;
      margin-top: 2rem;
      border-radius: 0.5rem;
   }
}