.hotel-addition {
   padding: 0 var(--suitable-padding);
   margin-bottom: 4rem;

   .hotel-addition__form {
      width: 70%;
      margin: 0 auto;
      padding: 4rem;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;
   }

   // .hotel-addition_location {}

   .hotel-addition__selector {
      .css-t3ipsp-control {
         // box-shadow: none;
         // border: 2px solid var(--blue-color);
         // line-height: 1rem;
      }

      .css-1fdsijx-ValueContainer {
         display: flex;
         justify-content: start;
         padding: 0.15rem 0.7rem!important;
      }

      .css-1nmdiq5-menu {
         text-align: left;
      }
   }

   .hotel-addition__image-button{
      button{
         min-width: 15rem;
      }
      p{
         position: relative;
         top:0.75px
      }
   }

   .hotel-addition__image{
      img{
         aspect-ratio: 1/1;
      }
   }
}


