.header {
  background-color: #f8f9fa;
  color: black;
  display: flex;
  justify-content: center;
  position: relative;

  .header-container {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 80px;

    .header-list__icon {
      margin-right: 5px;
    }

    .header-list {
      display: flex;
      gap: 40px;

      .header-list__item {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .header-list__item a {
        text-decoration: none;
        color: inherit;
        transition: color 0.3s ease;
      }

      .header-list__item a:hover {
        color: #ccc;
      }
    }

    .header-title {
      margin: 20px 0px;
    }

    .header-btn {
      background-color: whitesmoke;
      color: black;
      border-radius: 8px;
      font-weight: 400;
      border: 1px solid darkgray;
      padding: 5px;
      cursor: pointer;

      &:hover {
        background-color: rgb(225, 215, 215);
        position: relative;
        bottom: 2px;
        transition: background-color 0.5s ease;
        // transform: rotate(360deg);
      }

      &:active {
        opacity: 0.9;
      }

    }


    .header-icon {
      color: black;
    }
  }

}