.hotel-edition {
   padding: var(--suitable-padding);
   margin-bottom: 4rem;

   .hotel-edition__form {
      width: 100%;
      margin: 0 auto;
      padding: 1rem;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
      border-radius: 0.5rem;
   }

   // .hotel-edition_location {}

   .hotel-edition__selector {
      // .css-t3ipsp-control {
      //    box-shadow: none;
      //    border: 2px solid var(--blue-color);
      //    line-height: 1rem;
      // }

      .css-1fdsijx-ValueContainer {
         display: flex;
         justify-content: start;
         padding: 0.15rem 0.7rem !important;
      }

      .css-1nmdiq5-menu {
         text-align: left;
      }
   }

   .hotel-edition__image-button {
      button {
         min-width: 15rem;
      }

      p {
         position: relative;
         top: 0.75px
      }
   }

   .hotel-edition__image {
      img {
         aspect-ratio: 1/1;
      }
   }

   .hotel-edition__room-list {
      .hotel-edition__room {
         width: 100%;
         display: flex;


         .hotel-edition__room-image {
            width: 35%;

            img {
               border-bottom-left-radius: 0.25rem;
               border-top-left-radius: 0.25rem;
            }
         }

         .hotel-edition__room-info {
            width: 65%;
            padding: 0.5rem;
            background-color: black;
            color: white;
            border-bottom-right-radius: 0.25rem;
            border-top-right-radius: 0.25rem;

            &:hover {
               cursor: pointer;
               background-color: rgb(35, 35, 35);
            }
            &:active{
               opacity: 0.95;
            }
         }
      }
   }
}