.header-search {
  height: 50px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  bottom: -25px;
  width: 100%;
  // max-width: 1024px;
  // z-index: 15!important;
  position: relative;
  gap : 1rem;
  padding : 0.25rem 2rem;

  button {
    min-width: auto!important;
  }

  .header-search-input {
    border: none;
    outline: none;
  }

  .header-search__item {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .header-search__text {
    color: rgb(184, 184, 184);
    cursor: pointer;
  }

  .date {
    position: absolute;
    top: 50px;
  }

  .options {
    position: absolute;
    top: 50px;
    background-color: white;
    color: gray;
    border-radius: 5px;
    z-index: 11;

    .option-item {
      width: 200px;
      display: flex;
      justify-content: space-between;
      margin: 10px;
    }

    .option-counter {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 12;
      color: black;
    }

    .option-btn {
      width: 30px;
      height: 30px;
      border: 1px solid gray;
      color: gray;
      background-color: white;
      cursor: pointer;
    }

    .option-number{
      width: 1.5rem;
      margin-bottom: 0;
    }
  }

  .rdrCalendarWrapper.rdrDateRangeWrapper{
    z-index: 15;
    position: absolute;
    top:2.5rem;
  }

}