.header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 var(--suitable-padding);
    // border-bottom: 1px solid black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
    transition: background-color 0.75s ease-in-out, color 0.75s ease-in-out, opacity 0.75s ease-in-out;

    .header-container {
        width: 100%;
        // max-width: 1024px;
        margin: 1rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .header-list__icon {
            margin-right: 5px;
        }

        .header-list {
            display: flex;
            gap: 40px;

            .header-list__item {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            .header-list__item a {
                text-decoration: none;
                color: inherit;
                transition: color 0.3s ease;
            }

            .header-list__item a:hover {
                color: #ccc;
            }
        }

        .header-title {
            margin: 20px 0px;
        }

        .header-btn {
            background-color: #0071c2;
            color: white;
            border-radius: 8px;
            font-weight: 500;
            border: none;
            padding: 10px;
            cursor: pointer;

        }

        .header-logo {
            width: 4.5rem;
            height: 4.5rem;
            background-color: white;
            border-radius: 50%;
            &:hover{
                cursor: pointer;
            }
        }

        .header-auth {
            width: 6rem;
            padding: 0 0.5rem;
            height: 3rem;
            border: 2px solid white;
            border-radius: 3rem;
            display: flex;
            align-items: center;
            justify-content: space-around;

            .header-auth__list {
                &:hover {
                    opacity: 0.9;
                    cursor: pointer;
                }

                &:active {
                    opacity: 0.85;
                }
            }
        }

        .header__dropdown {
            position: absolute;
            top: 4rem;
            right: -2rem;
            background-color: #e9e8e8;
            border-radius: 0.25rem;
            width: 8rem;
            z-index: 200 !important;
            text-align: left;
            // transition: opacity 1s ease, visibility 1s ease;

            p {
                margin-bottom: 0;
                padding: 0.5rem 1rem;
                color: black;
                z-index: 200;

                &:hover {
                    background-color: #ccc;
                    cursor: pointer;
                }

                &:active {
                    opacity: 0.9;
                }
            }
        }
    }

}

.header.active {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: none;

    .header-logo {
        opacity: 0.5;

        &:hover {
            opacity: 0.9;
        }
    }

    .header-list__item {

        a,
        svg {
            color: rgba(0, 0, 0, 0.4) !important;

            &:hover {
                color: rgba(0, 0, 0, 1) !important;
            }
        }
    }

    .header-auth {
        color: rgba(0, 0, 0, 0.4) !important;
        border: 2px solid rgba(0, 0, 0, 0.4);

        &:hover {
            color: rgba(0, 0, 0, 0.9) !important;
            border: 2px solid rgba(0, 0, 0, 0.9);
        }
    }
}